@CHARSET "UTF-8";

::-webkit-scrollbar {
	width: 4px; 
	height: 4px;
	border: 3px solid #262626; 
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
	display: block; height: 
	10px; 
	background:  #262626
}

::-webkit-scrollbar-track {
	background: #262626; 
	-webkit-border-radius: 10px; 
	border-radius:10px; 
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)
}
::-webkit-scrollbar-thumb {
	height: 50px; 
	width: 50px; 
	background: #00a3cc; 
	-webkit-border-radius: 8px; 
	border-radius: 8px; 
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}

.character{
	font-size:9pt;
}

#view {
	margin: 0 auto;
	width:1150px;
	height: 250px;
}

#menu {
	margin: 0 auto;
	width:1150px;
	height: 33px;
}

#menuWrap {
	margin: auto;
	background: #2e2e2e;
	width:1150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#timeLine {
	margin: 0 auto;
	width:1150px;
	height: 350px;
}

#dragDropZone {
	border: 2px;
	min-height: 248px;
	max-width: 455px;
}

.imenu {
	color:#00a3cc;
	
}
.itool {
	color:#808080;
	
}
.ibottom {
	color:#ff0080;
	
}

.itool:hover {
    color: #b3b3b3;
}

.imenu:hover {
    color: #ff0080;
}

.ibottom:hover {
    color: #00a3cc;
}

.menubox {
	padding-left: 35px;
}

.toolbox {
	padding-top: 10px;
	padding-left: 25px;
  	display: inline-block;

}

.bottombox {
	padding-top: 5px;
	padding-left: 20px;

  	display: inline-block;

}

.ztree li span.button.switch.level0 {
	visibility:hidden; 
	width:1px;
}

.ztree li ul.level0 {
	padding:0; 
	background:none;
}


.fileBox {
	padding-left:5px;
	padding-right:5px;
	display: inline;
}

.fileBox .fname {
	width:94px;
	height:15px;
	font-size:10px;
	color:#00a3cc;
}

.fileBox .fimage {
	width:94px;
	height:63px;
}

.fileBox .fimage:hover{
  background: #00a3cc; 
}

.fileBox .fimage:active { 
    background: #ff0080;
}
