@CHARSET "UTF-8";

::-webkit-scrollbar {
	width: 4px; 
	height: 4px;
	border: 3px solid #262626; 
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
	display: block; height: 
	10px; 
	background:  #262626
}

::-webkit-scrollbar-track {
	background: #262626; 
	-webkit-border-radius: 10px; 
	border-radius:10px; 
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)
}
::-webkit-scrollbar-thumb {
	height: 50px; 
	width: 50px; 
	background: #fff; 
	-webkit-border-radius: 8px; 
	border-radius: 8px; 
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}

.character{
	font-size:9pt;
}

#view {
	margin: 0 auto;
	width:1150px;
	height: 300px;
}

#menu {
	margin: 0 auto;
	width:1150px;
	height: 22px;
}

#menuWrap {
	margin: auto;
	background: #2e2e2e;
	width:1150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#timeLine {
	margin: 0 auto;
	width:1150px;
	height: 350px;
}

#dragDropZone {
	border: 2px;
	min-height: 300px;
	max-width: 540px;
}

.player-editor{
	color:#fff;
	padding-left: 10px;
}

.player-editor-pp:hover{
	color:#ff0080;
}

.imenu {
	color:#fff;
	
}
.itool {
	color:#808080;
	
}
.ibottom {
	color:#ff0080;
	
}

.itool:hover {
    color: #b3b3b3;
}

.imenu:hover {
    color: #ff0080;
}

.ibottom:hover {
    color: #fff;
}

.menubox {
	padding-left: 35px;
}

.toolbox {
	padding-top: 10px;
	padding-left: 25px;
  	display: inline-block;

}

.bottombox {
	padding-top: 5px;
	padding-left: 20px;

  	display: inline-block;

}

.ztree li span.button.switch.level0 {
	visibility:hidden; 
	width:1px;
}

.ztree li ul.level0 {
	padding:0; 
	background:none;
}


.fileBox {
	padding-left:5px;
	padding-right:5px;
	display: inline;
}

.fileBox .fname {
	width:94px;
	height:15px;
	font-size:12px;
	color:#fff;
}

.fileBox .fimage {
	width:156px;
	height:auto;
}

.fileBox .fimage:hover{
  background: #fff; 
}

.fileBox .fimage:active { 
    background: #ff0080;
}


#t-slider {
    -webkit-appearance: none;
    background-color: #ffffff;
    width: 1110px;
    height:1px;
    border:1px;
}

/* #t-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ff0080;
    width: 2px;
    height: 550px;
}
 */
#t-slider::-webkit-slider-runnable-track {
  width: 100px;
  height: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border-radius: 0px;
  z-index: 1;
  border: 0px solid rgba(0, 0, 0, 0);
}
#t-slider::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid rgba(255, 255, 255, 0);
  height: 285px;
  width: 2px;
  border-radius: 5px;
  background: #ff0080;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2px;
  z-index: 2000;
  position: relative;
}


#player-slider {
    -webkit-appearance: none;
    background-color: #ffffff;
    width: 290px;
    height:12px;
}

#player-slider::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #ff0080;
    width: 8px;
    height: 12px;
}

#player-volume{
    -webkit-appearance: none;
    width: 70px;
}

#player-volume::-webkit-slider-runnable-track {
    width: 70px;
    height: 3px;
    background: #fff;
    border: none;
    border-radius: 3px;
}

#player-volume::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #ff0080;
    width: 8px;
    height: 13px;
    margin-top: -9px;
}

#player-volume:focus {
    outline: none;
}

#player-volume:focus::-webkit-slider-runnable-track {
    background: #fff;
}

#mm-canvas{
	width: 460px; 
	height: 267px; 
	background-color: #000;
}


#image-track{
	width: 1143px; 
	height: 60px; 
	background-color: #2e2e2e;	
}

.track-name{
	padding-left:8px;
	padding-right:9px;	
	color:#b3b3b3;
}

#video-track{
	width: 1143px; 
	height: 60px; 
	background-color: #2e2e2e;		
}

#audio1-track{
	width: 1143px; 
	height: 60px; 
	background-color: #262626;		
}

#audio2-track{
	width: 1143px; 
	height: 60px; 
	background-color: #2e2e2e;		
}

#video-filter-track{
	width: 1143px; 
	height: 23px; 
	background-color: #262626;		
}

#image-filter-track{
	width: 1143px; 
	height: 23px; 
	background-color: #262626;		
}

audio {
	width: 156px;
}

.verticalLine {
 	border-left: 2px solid #ff0080;
	z-index: 999;
	height: 100px; 
	display: inline;
}
