<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.sc32c3.freemiere.vo.FileFolder" alias="FileFolder" />
	</typeAliases>
	
	<mappers>
		<mapper resource="./mapper/fileFolderMapper.xml" />
	</mappers>
</configuration>
